
nav a{
    margin-left: 20px;
}

nav a:hover{
    text-decoration: underline;
}

#cont_acerca{
    background-color: #000;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}



#imag{
    width:250px;
    height:250px;
    border-radius:150px;
    margin-left: 20px;
    padding: 5px;

}

#personal{
    margin-bottom: 10px;
}


footer{
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

form{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 40px;
    border: white 5px double;
    color: aliceblue;
    border-radius: 20px;
    box-shadow: 5px 7px 20px #eb510d;
    background-color: #4D4D4D;
}


form input:hover{
    transition: box-shadow 1s;
    box-shadow: 5px 7px 20px #eb510d;
}


#tarjetas{
    margin: 20px;
}

#tarjetas img{
    border: #eb510d 5px solid;
}

#tarjetas h5{
    padding-left: 40px;
    color: aliceblue;
}


#tarjetas p{
    padding: 5px;
    color: aliceblue;
    
}

#caja{
    background-color: #4D4D4D;
    transition:  0.5s;
    

}

#caja:hover{
    transition: box-shadow 1s;
    box-shadow: 3px 1px 51px 6px #eb510d;

}

#cant{
    padding-right: 11%;
    padding-left: 40%;
}

@media screen and (max-width: 800px){

    nav a h4{

        padding-right: 60px;
    }

    form{
        margin-left: 10%;
        margin-right: 10%; 
    }

}