
nav a:hover{
    text-decoration: underline;
}

#cont_acerca{
    background-color: #000;
    color: aliceblue;
}



#imag{
    width:250px;
    height:250px;
    border-radius:150px;
    margin-left: 20px;
    padding: 5px;

}


footer{
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

form{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 40px;
    border: white 5px double;
    color: aliceblue;
}

#tarjetas{
    margin: 20px;
}

#tarjetas img{
    border: #000 5px solid;
}

#tarjetas h5{
    padding-left: 40px;
}

#tarjetas p{
    border: #000 5px solid;
    padding: 5px;
}

#cant{
    padding-right: 11%;
    padding-left: 40%;
}
